<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">

    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-family:Lucida Handwriting">
            Sudocu
        </a>
        <form action="/newgame" method="get">
            <button type="submit" class="btn btn-outline-secondary">
                New Game
            </button>
        </form>
    </nav>
    <div style="padding: 4px;"></div>
    {% block main %}{% endblock %}
    
</body>