{% extends "layout.html" %}

{% block title %}
    We Gaming
{% endblock %}

{% block main %}
<form action="/submit" method="post">
    <div class="grid">
        <table>
            <tbody>
                {% for i in range(9) %}
                    <tr>
                        {% for j in range(9) %}
                            <td>
                                <div class="cell">
                                    <h3>{{n[i][j]}}</h3>
                                    <input id="{{ids[j+i*9]}}" type="text" maxlength="1" name = "{{ids[j+i*9]}}">
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <div style="padding: 3px"></div>
    <div>
        <button type="submit" class="btn btn-outline-secondary" style ="margin-left: 398px;">
            Submit
        </button>
    </div>
</form>
<script>
    var empty = document.getElementsByTagName("h3");
    for (let step = 0; step < 81; step++) {
        var inpt = document.getElementById(step);
        function disinpt(x,y) { 
            if ( x.textContent != '_' ) {
                y.disabled = true;
            }
        };
        disinpt(empty[step], inpt);
        function init(y) {
            y.value = '';
        };
        window.onload = init(inpt);
    };
</script>


{% endblock %}